<!DOCTYPE html>
<html>
<head>
    <title>Mobile Category Predictor</title>
</head>
<body>

<h2>Mobile Category Predictor</h2>

<form method="post">
    {% csrf_token %}
    Price: <input type="number" name="price"><br><br>
    RAM: <input type="number" name="ram"><br><br>
    Storage: <input type="number" name="storage"><br><br>
    Battery: <input type="number" name="battery"><br><br>
    Camera: <input type="number" name="camera"><br><br>

    <button type="submit">Predict</button>
</form>

{% if result %}
    <h3>Category: {{ result }}</h3>
{% endif %}

</body>
</html>